/* AdminDashboard.css */
.admin-dashboard-container {
    max-width: 1550px;
    min-width: 425px;
    margin-left: auto;
    margin-right: auto;
}

.Title {
    margin: 20px;
}

.experts-heading {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.users-grid-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.schedule-button {
    border: 0;
    text-align: center;
    width: 100%;
    font-size: 21px;
    margin: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.schedule-button:hover {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.scheduler-grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.chart-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-tile-1 {
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.dark-mode .grid-tile-1 {
    background-color: #212121;
}

.dark-mode .latest-wrapper {
    background-color: #212121;
}

.grid-tile-1 h3 {
    font-size: 24px;
    margin-top: 0;
}

.grid-tile-1 h4 {
    margin-bottom: 0;
}

.latest-wrapper {
    margin: 10px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
    min-width: fit-content;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.dashboard-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard-tile {
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    overflow: auto;
}

.calls-button {
    position: fixed;
    bottom: 150px;
    right: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.calls-button:hover {
    background-color: grey;
}

.menu-button {
    position: fixed;
    bottom: 5px;
    right: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.menu-button:hover {
    background-color: grey;
    cursor: pointer;
}

.dark-mode .menu-button {
    background-color: #212121;
}

.users-button {
    position: fixed;
    bottom: 102px;
    right: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.dark-mode .users-button {
    background-color: #212121;
}

.dark-mode .calls-button {
    background-color: #212121;
}

.dark-mode .calls-button:hover {
    background-color: grey;
}

.dark-mode .experts-button {
    background-color: #212121;
}

.users-button:hover {
    background-color: grey;
}

.experts-button {
    position: fixed;
    bottom: 53px;
    right: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.experts-button:hover {
    background-color: grey;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 560px) {
    .tabs-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 425px;
    }

    .grid-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.back-icon {
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 5px;

    &:hover {
        box-shadow: 0 0 0;
    }

    cursor: pointer;
}

.dark-mode .back-icon {
    color: #fff;
    background-color: #212121;

    &:hover {
        background-color: #141414;
    }
}

.back-button {
    background-color: #fff;
    color: black;
    border-radius: 25px;
    padding: 0;
    border-width: 0;
    height: 30px;
    width: 30px;
    align-self: center;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: grey;
    }
}

.dark-mode .back-button {
    background-color: #141414;
    color: #fff;

    &:hover {
        background-color: grey;
    }
}


.tabs {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 20px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.tab.active {
    background-color: #f0f0f0;
}

.tab:hover {
    background-color: #e6e6e6;
}


.dark-mode .tab.active {
    background-color: black;
    border: 2px solid white;
}

.dark-mode .tab.active:hover {
    background-color: #212121;
}

.popup-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 10px;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
}

.dark-mode .tab {
    background-color: #212121;
}

.dark-mode .tab:hover {
    background-color: #141414;
}

.dark-mode .scroll-to-bottom-button {
    background-color: #212121;
}

.scroll-to-bottom-button {
    position: fixed;
    bottom: 62px;
    right: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    margin: 0;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.scroll-to-bottom-button:hover {
    background-color: grey;
}

.error-message {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 16px;
}

.error-messages-container {
    max-width: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}