/* Define row styles */
.successful-row {
    background-color: #a9e6c3;
    /* Green */
}

.initiated-row {
    background-color: #fdfd96;
    /* Yellow */
}

.default-row {
    background-color: #eb4b3f;
    /* Default color */
}

/* Table styles */
.calls-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.calls-table th,
.calls-table td {
    padding: 10px;
}

.calls-table th {
    text-align: left;
}

.calls-table td {
    text-align: left;
}

.calls-table tbody tr:not(:first-child) {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.view-details-link {
    text-decoration: none;
    color: inherit;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.view-details-link:hover {
    background-color: #000;
    color: #fff;
    border-color: #333;
    /* Change border color on hover */
}

.table-container {
    max-width: 1200px;
    /* Adjust max-width according to your preference */
    margin: 0 auto;
    padding: 20px;
}

.calls-table thead {
    position: sticky;
    top: 80px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.calls-table th {
    cursor: pointer;
}

.filter-row {
    margin: 0;
    padding: 0;
}

.filter-row td {
    background-color: #fff;
}

.filter-row input {
    width: fit-content;
    padding: 5px;
    box-sizing: border-box;
}