.drop-down select {
    border: none;
    font-family: 'Custom Font';
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    color: inherit;
    background-color: inherit;
}

.drop-down {
    background-color: inherit;
}


.drop-down select option {
    background-color: #fff;
}

.dark-mode .drop-down select option {
    background-color: #212121;
}