/* src/components/Header/Header.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  max-width: 1550px;
  min-width: 425px;
  margin: 0 auto;
}

.logo {
  margin-left: 20px;
}

nav ul {
  list-style: circle;
  padding: 0px;
  font-size: large;
  font-weight: bold;
  margin: 0;
}

nav ul li {
  padding: 10px;
  display: inline;
  margin-left: 0;
  width: fit-content;
}

@media screen and (max-width: 560px) {
  nav ul li {
    display: flex;
    flex-wrap: wrap;
  }
}

.outlined-button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: .6em;
  color: #000;
  background-color: inherit;
  font-family: 'Custom Font';
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.outlined-button:hover {
  background-color: #000;
  color: #fff;
  border-color: #333;
}

.dark-mode .outlined-button {
  color: white;
  border: 2px solid white;
}

